.mark {
    width: 100px;
    background-color: black;
}

.ttt-board {
    position: relative;
    width: 360px;
    height: 360px;
}

.backgrd {
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.vt100 {
    color: white;
}