@import play.twirl.api.HtmlFormat
@import models.Participant

@(webjars: org.webjars.play.WebJarsUtil, part: Participant)

@main(webjars, "NCATS Translator Challenge"){
@navbar(part)
}{
@header(part, 1, "Translator Challenge", "The Journey Begins")
}{
@footer()
}{
<div class="section section-basic">
  <div class="section section-basic">
    <div class="container">
      <form id="c1-form" class="form-inline" 
            method="POST"
            action="@controllers.routes.ChallengeController.submit(part.id.toString, 1)">
        <input class="btn btn-@if(part.stage>1){success}else{primary}"
               type="submit" value="Next" @if(part.stage>1){disabled}/>
      </form>
    </div>
  </div>
</div>
}
