@import play.twirl.api.HtmlFormat
@import models.Participant

@(app: controllers.ChallengeController, part: Participant)

@main(app, "NCATS Translator Challenge", part,2){
@header(part, 2, "Task 1", "Beacon API")
}{
@footer()
}{
<div class="section section-basic">
  <div class="section section-basic">
    <div class="container">
      <p>The Biomedical Data Translator consumes a wide variety of data from many sources. To help standardize the data being consumed, we have specified a <em>Knowledge Beacon</em> application programming interface (API) that can be found <a target="#foa" href="https://github.com/NCATS-Tangerine/translator-knowledge-beacon/">here</a>. The goal of this task is to give the participant familiarity with bringing new APIs online. </p>
      <p>Lothar Collatz's <a target="#foa" href="https://en.wikipedia.org/wiki/Collatz_conjecture">conjecture</a> produces <a target="#foa" href="https://oeis.org/A006577">sequences</a> that start from a natural number and have the following pattern: </p>
        <ol>
          <li>If <em>n</em> is even, divide <em>n</em> by 2.</li>
          <li>If <em>n</em> is odd, multiply <em>n</em> by 3 and add 1.</li>
        </ol>
        <p><b>Collatz siblings</b> are numbers that have the same path length; e.g., numbers 3 and 20 are siblings because both have path length 8. (Note that <i>path length</i> as defined here is the cardinality of the Collatz sequence starting from a given position.) Provide an API that produces Collatz siblings for a given set of integers whose path length <i>P</i> is bounded by 1 < <i>P</i> &le; 64; for example, 21 and 128 are the only Collatz siblings of the integer set {3, 20}.</p>

        <p>Please follow the specification provided in this <a href='@routes.Assets.versioned("resources/swagger.yaml")'>Swagger API</a> definition file for your API implementation.</p>

        <form class="form-inline"  method="POST"
            action='@controllers.routes.ChallengeController.submit(part.id.toString, 2)'>
        <input type="hidden" name="uuid" value="@part.id">
        Provide the URI to your API here: &nbsp;
        <div class="input-group">
          <input type="text" class="form-control"
                 name="API-URI"
                 placeholder="API endpoint"
                 style="width:400px"
                 aria-describedby="API-URI"
                 @if(session.containsKey("API-URI")){value='@session.get("API-URI")'}>
        </div>
        <em>If you have firewall enabled, please make sure you allow incoming traffic from our servers:</em> <code>128.231.87.101</code>, <code>128.231.87.102</code>, <code>34.200.21.115</code>.

        @if(part.stage == 2) {
        <br><input class="btn btn-@if(part.stage>2){success}else{primary}"
                   type="submit"/>
        }
      </form>
    </div>
  </div>
</div>
}
