@import play.twirl.api.HtmlFormat
@import models.Participant

@(webjars: org.webjars.play.WebJarsUtil, part: Participant)

@main(webjars, "NCATS Translator Challenge"){
@navbar(part)
}{
@header(part, 2, "Challenge 2", "Beacon API")
}{
@footer()
}{
<div class="section section-basic">
  <div class="section section-basic">
    <div class="container">
        <p>The Biomedical Data Translator consumes a wide variety of data from many sources. The goal of this challenge is to give the participant familiarity with bringing new resource APIs online.</p>
      <p>
        SHALL WE PLAY A GAME?
      </p>
      <form class="form-inline"  method="POST"
            action='@controllers.routes.ChallengeController.submit(part.id.toString, 2)'>
        <input type="hidden" name="uuid" value="@part.id">
        Please provide the URI to your game agent's API:
        <div class="input-group">
          <input type="text" class="form-control"
                 name="API-URI"
                 placeholder="API endpoint"
                 aria-describedby="API-URI">
        </div>
        <br>For an example Swagger API definition file for a game agent,
        please see this <a href='@routes.Assets.versioned("resources/swagger.yaml")'>example</a>.
        
        <br><input class="btn btn-@if(part.stage>2){success}else{primary}"
               type="submit" @if(part.stage==3){disabled}/>
      </form>
    </div>
  </div>
</div>
}
