@import play.twirl.api.HtmlFormat
@import models.Participant

@(app: controllers.ChallengeController, part: Participant)

@main(app, "NCATS Translator Challenge"){
@navbar(app, part, 4)
}{
@header(part, 4, "Task 3", "Blackboard Prototype")
}{
@footer()
}{
<div class="section section-basic">
  <div class="section section-basic">
    <div class="container">
      The <a target="#foa" href="https://en.wikipedia.org/wiki/Blackboard_system">blackboard architecture</a>, an agent-based architecture,
      has been proposed as the underlying architecture for the eventual implementation
      of the <a target="#foa" href="https://ncats.nih.gov/translator">Biomedical Translator</a>.
      During the feasibility phase of this program, we are investigating the strengths and limitations of such a design.

      <br><br>While far from complete, an initial proof-of-concept implementation
      is provided by <a target="#foa" href="https://spotlite.nih.gov/ncats/blackboard">this codebase</a>.
      The goal of this task is to give the participant an opportunity to
      get familiarized with the blackboard codebase.

      <br><br>The steps for this task are as follows:
      <ol>
        <li>Clone the repository <a target="#foa" href="https://spotlite.nih.gov/ncats/blackboard">https://spotlite.nih.gov/ncats/blackboard.git</a></li>
        <li>Build and run the code based on the provided <a target="#foa" href="https://spotlite.nih.gov/ncats/blackboard">instructions</a></li>
        <li>Let's proceed to construct a knowledge graph with the
          query term <code>mast cell</code> as the seed. While there are
          multiple knowledge sources available, for the purpose of this
          exercise we're constructing the knowledge graph using 
          the <a target="#foa" href="https://pharos.nih.gov">Pharos</a> knowledge
          source exclusively.</li>
      </ol>

      <form id="c5-form" class="form-inline" 
            method="POST"
            action="@controllers.routes.ChallengeController.submit(part.id.toString, 4)">
      
        <div class="panel panel-@if(part.stage>5){success}else{primary}"
             style="margin-top:20px">
          <div class="panel-body">
            After the initial query expansion using the Pharos knowledge
            source, what are the number of drugs, targets, and diseases,
            respectively, in the knowledge graph?

            <br>
            <div class="input-group input-answer">
              <input type="text" class="form-control"
                     name="drug-count"
                     placeholder="Number of drugs"
                     aria-describedby="drug-count"
                     @if(session.containsKey("drug-count")){value='@session.get("drug-count")' readonly}else{required}>
              <input type="text" class="form-control"
                     name="target-count"
                     placeholder="Number of targets"
                     aria-describedby="target-count"
                     @if(session.containsKey("target-count")){value='@session.get("target-count")' readonly}else{required}>
              <input type="text" class="form-control"
                     name="disease-count"
                     placeholder="Number of diseases"
                     aria-describedby="disease-count"
                     @if(session.containsKey("disease-count")){value='@session.get("disease-count")' readonly}else{required}> 
            </div>

            <br><br>How many of the targets belong to the following
            respective family?
            
            <br>
            <div class="input-group input-answer">
              <input type="text" class="form-control"
                     name="kinase-count"
                     placeholder="Number of kinase targets"
                     aria-describedby="kinase-count"
                     @if(session.containsKey("kinase-count")){value='@session.get("kinase-count")' readonly}else{required}>
              <input type="text" class="form-control"
                     name="gpcr-count"
                     placeholder="Number of GPCR targets"
                     aria-describedby="gpcr-count"
                     @if(session.containsKey("gpcr-count")){value='@session.get("gpcr-count")' readonly}else{required}>
            </div>

            <br><br>Next, select the target <b>Mast/stem cell growth factor
              receptor kit</b> and perform the Pharos knowledge source
            expansion around this node. How many inhibitors are available
            for this target? 

            <br>
            <div class="input-group input-answer">
              <input type="text" class="form-control"
                     name="inhibitor-count"
                     placeholder="Number of inhibitors"
                     aria-describedby="inhibitor-count"
                     @if(session.containsKey("inhibitor-count")){value='@session.get("inhibitor-count")' readonly}else{required}>
            </div>
          </div>
        </div>

        @if(part.stage==4) {
        <input class="btn btn-@if(part.stage>4){success}else{primary}"
               type="submit"/>
        }
      </form>
    </div>
  </div>
</div>
}
