@import play.twirl.api.HtmlFormat
@import models.Participant

@(webjars: org.webjars.play.WebJarsUtil, part: Participant)

@main(webjars, "NCATS Translator Challenge"){
@navbar(part)
}{
@header(part, 4, "Challenge 4", "Blackboard Prototype")
}{
@footer()
}{
<div class="section section-basic">
  <div class="section section-basic">
    <div class="container">
      The <a href="https://en.wikipedia.org/wiki/Blackboard_system">blackboard architecture</a>, an agent-based architecture, has been proposed as the underlying
      architecture for the eventual implementation of the
      <a href="https://ncats.nih.gov/translator">Biomedical Translator</a>
      during the feasibility phase. While far from complete, this
      <a href="https://spotlite.nih.gov/ncats/blackboard">codebase</a>
      provides an initial proof-of-concept implementation. The goal of this
      challenge is to give the participant an opportunity to be familiarized
      with the codebase.
    </div>
  </div>
</div>
}
