@import play.twirl.api.HtmlFormat
@import models.Participant

@(webjars: org.webjars.play.WebJarsUtil, part: Participant)

@main(webjars, "NCATS Translator Challenge"){
@navbar(part)
}{
@header(part, 4, "Challenge 4", "Blackboard Prototype")
}{
@footer()
}{
<div class="section section-basic">
  <div class="section section-basic">
    <div class="container">
      The <a href="https://en.wikipedia.org/wiki/Blackboard_system">blackboard architecture</a>, an agent-based architecture, has been proposed as the underlying
      architecture for the eventual implementation of the
      <a href="https://ncats.nih.gov/translator">Biomedical Translator</a>
      during the feasibility phase. While far from complete, this
      <a href="https://spotlite.nih.gov/ncats/blackboard">codebase</a>
      provides an initial proof-of-concept implementation. The goal of this
      challenge is to give the participant an opportunity to be familiarized
      with the blackboard codebase.

      <br><br>The task for this challenge is as follows:
      <ol>
        <li>Clone the repository <a href="https://spotlite.nih.gov/ncats/blackboard">https://spotlite.nih.gov/ncats/blackboard.git</a></li>
        <li>Build and run the code based on the provided <a href="https://spotlite.nih.gov/ncats/blackboard">instructions</a></li>
        <li>Let's proceed to construct a knowledge graph with the
          query term <code>mast cell</code> as the seed. While there are
          multiple knowledge sources available, for the purpose of this
          exercise we're restricting the knowledge graph to be built with
          only the <a href="https://pharos.nih.gov">Pharos</a> knowledge
          source.
      </ol>
    </div>
  </div>
</div>
}
