@import play.twirl.api.HtmlFormat
@import models.Participant

@(app: controllers.ChallengeController, part: Participant)

@main(app, "NCATS Translator Challenge"){
@navbar(app, part, 5)
}{
@header(part, 5, "Task 4", "Graph Fundamentals")
}{
@footer()
}{
<div class="section section-basic">
  <div class="section section-basic">
    <div class="container">
      Knowledge representation is a fundamental challenge in artificial
      intelligence (AI) and automated reasoning. The challenge, to a large
      extent, is precipitated by the inherent lack of unambiguous semantics
      and lexicon needed to <em>translate</em> data into knowledge.
      Implementing such translation engine often requires sufficient knowledge
      of basic graph theory and algorithms. The goal of this task,
      therefore, is to evaluate the participant's ability to work with
      graph data effectively.
      Please use the following hypothetical <a href='@{controllers.routes.ChallengeController.stage(part.id.toString,5) + "?action=download"}'>knowledge hypergraph</a>
      to answer
      all questions in this task. The participant is free to use any
      available resources to answer the questions.

      <form id="c5-form" class="form-inline" 
            method="POST"
            action="@controllers.routes.ChallengeController.submit(part.id.toString, 5)">
        <div class="panel panel-@if(part.stage>5){success}else{primary}"
             style="margin-top:20px">
          <div class="panel-heading">
            <h3 class="panel-title"><b>1.</b> Metrics</h3>
          </div>
          <div class="panel-body">
            <div class="input-group input-answer">
              <input type="text" class="form-control"
                     name="node-size"
                     placeholder="Number of nodes"
                     aria-describedby="node-size"
                     @if(session.containsKey("node-size")){value='@session.get("node-size")' readonly}else{required}>
              <input type="text" class="form-control"
                     name="edge-size"
                     placeholder="Number of edges"
                     aria-describedby="edge-size"
                     @if(session.containsKey("edge-size")){value='@session.get("edge-size")' readonly}else{required}>
              <input type="text" class="form-control"
                     name="max-degree"
                     placeholder="Maximum degree"
                     aria-describedby="max-degree"
                     @if(session.containsKey("max-degree")){value='@session.get("max-degree")' readonly}else{required}> 
            </div>          
          </div>
        </div>
        
        <div class="panel panel-@if(part.stage>5){success}else{primary}"
             style="margin-top:20px">
          <div class="panel-heading">
            <h3 class="panel-title"><b>2.</b> Paths
          </div>
          <div class="panel-body">
            Length (node count) of graph diameter:
            <br>
            <div class="input-group input-answer">
              <input type="text" class="form-control"
                     name="diameter-length"
                     placeholder="Graph diameter"
                     aria-describedby="diameter-length"
                     @if(session.containsKey("diameter-length")){value='@session.get("diameter-length")' readonly}else{required}>
            </div>
            
            <br><br>Number of paths with length equal graph diameter:
            <br>
            <div class="input-group input-answer">
              <input type="text" class="form-control"
                     name="diameter-count"
                     placeholder="Graph diameter count"
                     aria-describedby="shortest-path-length"
                     @if(session.containsKey("diameter-count")){value='@session.get("diameter-count")' readonly}else{required}>
            </div>
          </div>
        </div>
        
        <div class="panel panel-@if(part.stage>5){success}else{primary}"
             style="margin-top:20px">
          <div class="panel-heading">
            <h3 class="panel-title"><b>3.</b> Connected Components</h3>
          </div>
          <div class="panel-body">
            <div class="input-group input-answer">
              <input type="text" class="form-control"
                     name="connected-component-count"
                     placeholder="Number of connected components"
                     aria-describedby="connected-component-count"
                     @if(session.containsKey("connected-component-count")){value='@session.get("connected-component-count")' readonly}else{required}>
              <input type="text" class="form-control"
                     name="largest-connected-component-size"
                     placeholder="Largest component size"
                     aria-describedby="largest-connected-component-size" 
                     @if(session.containsKey("largest-connected-component-size")){value='@session.get("largest-connected-component-size")' readonly}else{required}>
            </div>          
          </div>
        </div>
        
        <br>The next question is optional, but we highly encourage
        the participant to answer it in order to get an appreciation of
        its utility in the context of knowledge engineering, e.g., entity
        resolution, equivalence relation, knowledge abstraction, etc. We
        will take this question into consideration during the overall
        evaluation.
        
        <div class="panel panel-info" style="margin-top:20px">
          <div class="panel-heading">
            <h3 class="panel-title"><b>4.</b> Maximum Clique
          </div>
          <div class="panel-body">
            What is the size of the maxmimum clique that spans the
            edge label <code>E514</code>?
            <br>
            <div class="input-group input-answer">
              <input type="text" class="form-control"
                     name="maxclique-size"
                     placeholder="Maximum clique size"
                     aria-describedby="maxclique-size"
                     @if(session.containsKey("maxclique-size")){value='@session.get("maxclique-size")' readonly}>
            </div>

            <br><br>What are other edge labels that span this clique?
            <br>
            <div class="input-group input-answer">
              <input type="text" class="form-control"
                     name="maxclique-span"
                     placeholder="Properties that span maximum clique"
                     aria-describedby="maxclique-span"
                     @if(session.containsKey("maxclique-span")){value='@session.get("maxclique-span")' readonly}>
            </div>
          </div>
        </div>
        
        @if(part.stage==5 || !session.containsKey("maxclique-size") || !session.containsKey("maxclique-span")){
        <input class="btn btn-@if(part.stage>5){success}else{primary}"
               type="submit"/>
        }
      </form>
    </div>
  </div>
</div>
}
