@import play.twirl.api.HtmlFormat
@import models.Participant

@(webjars: org.webjars.play.WebJarsUtil, part: Participant)

@main(webjars, "NCATS Translator Challenge"){
@navbar(part)
}{
@header(part, 5, "Challenge 5", "Graph Queries")
}{
@footer()
}{
<div class="section section-basic">
  <div class="section section-basic">
    <div class="container">
      Knowledge representation is a fundamental challenge in artificial
      intelligence (AI) and automated reasoning. The challenge, to a large
      extent, is precipitated by the inherent lack of unambiguous semantics
      and lexicon needed to <em>translate</em> data into knowledge. Such
      translation often requires sufficient knowledge of basic graph theory
      and algorithms. The goal of this challenge, therefore, is to evaluate
      the participant's ability to work with graph data effectively.
      Please use the following <a href="#">knowledge hypergraph</a> to answer
      all questions in this challenge. The participant is free to use any
      available resources to answer the questions.

      <div class="panel panel-primary" style="margin-top:20px">
        <div class="panel-heading">
          <h3 class="panel-title"><b>1.</b> Graph Metrics</h3>
        </div>
        <div class="panel-body">
          <div class="input-group">
            <input type="text" class="form-control"
                   placeholder="Number of nodes"
                   aria-describedby="node-size">
            <input type="text" class="form-control"
                   placeholder="Number of edges"
                   aria-describedby="edge-size">
            <input type="text" class="form-control"
                   placeholder="Maximum degree"
                   aria-describedby="max-degree">           
          </div>          
        </div>
      </div>

      <div class="panel panel-primary" style="margin-top:20px">
        <div class="panel-heading">
          <h3 class="panel-title"><b>2.</b> Shortest Paths
        </div>
        <div class="panel-body">
          Number of shortest paths between nodes 123 and 456:
          <div class="input-group">
            <input type="text" class="form-control"
                   placeholder="Number of paths"
                   aria-describedby="shortest-path-count">
          </div>
          
          <br>The length of the shortest path between nodes 7859 and 3245:
          <div class="input-group">
            <input type="text" class="form-control"
                   placeholder="Path length"
                   aria-describedby="shortest-path-length">
          </div>          
        </div>
      </div>
      
      <div class="panel panel-primary" style="margin-top:20px">
        <div class="panel-heading">
          <h3 class="panel-title"><b>3.</b> Connected Components</h3>
        </div>
        <div class="panel-body">
          <div class="input-group">
            <input type="text" class="form-control"
                   placeholder="Number of connected components"
                   aria-describedby="connected-component-count">
            <input type="text" class="form-control"
                   placeholder="Size (node count) of largest component"
                   aria-describedby="connected-component-count">
          </div>          
        </div>
      </div>

      <br>The next two questions are optional, but we highly encourage
      the participant to answer them in order to get an appreciation of
      their utility in the context of knowledge engineering, e.g., entity
      resolution, equivalence relation, knowledge abstraction, etc.
      
      <div class="panel panel-default" style="margin-top:20px">
        <div class="panel-heading">
          <h3 class="panel-title"><b>4.</b> Maximal Cliques
        </div>
        <div class="panel-body">
          <div class="input-group">
            <input type="text" class="form-control"
                   placeholder="Number of maximal cliques"
                   aria-describedby="clique-count">
            <input type="text" class="form-control"
                   placeholder="Size (node count) of maximum clique"
                   aria-describedby="maxclique-size">
          </div>                  
        </div>
      </div>

      <div class="panel panel-default" style="margin-top:20px">
        <div class="panel-heading">
          <h3 class="panel-title"><b>5.</b> Matching Subgraphs
        </div>
        <div class="panel-body">
          Consider the following subgraph, find all occurences of this
          subgraph in the knowledge hypergraph.
          <div class="input-group">
            <input type="text" class="form-control"
                   placeholder="Number of subgraphs"
                   aria-describedby="subgraph-count">
          </div>
        </div>
      </div>

      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </div>
</div>
}
