@import play.twirl.api.HtmlFormat
@import models.Participant

@(app: controllers.ChallengeController, part: Participant)

@main(app, "NCATS Translator Challenge"){
@navbar(app, part, 6)
}{
@header(part, 6, "Task 5", "Clinical Outcome Pathway")
}{
@footer()
}{
<div class="section section-basic">
  <div class="section section-basic">
    <div class="container">
        We do not understand how all approved drugs
        work, but for a majority of them we can construct a clinical outcome
        pathway (COP) that explains the molecular pathophysiology of their action.
        A clinical outcome pathway can be thought of as the efficacy
        equivalent of an adverse outcome pathway; it explains how a
        molecular initiating event precipitates a series of key events which
        manifest as a clinical outcome, beginning with (1) a molecular
        initiating event physically interacting with (2) a biological target,
        which affects (3) a biological pathway or series of pathways that are
        relevant to (4) a particular cell type or tissue that manifest as (5)
        a clinical phenotype or endpoint which together reflect (6) a disease
        or condition. 
        
        <br><br>For the drug-disease pair listed below, construct a
        clinical outcome pathway that best explains how the drug effects its
        action.  Please enter the PMID of a paper which is tagged with the relevant
        MeSH term for each of the categories below in order to construct the COP.
        The same paper may be used for multiple categories.
      <form id="c6-form" class="form-inline"
            method="POST"
            action="@controllers.routes.ChallengeController.submit(part.id.toString, 6)">
        <div class="input-group">
          <br>
          <span class="label label-@if(part.stage>6){success}else{primary}">Imatinib</span>

          <br>
          <input type="text" class="form-control"
                 name="c6-target"
                 placeholder="Target PMID"
                 aria-describedby="c6-target"
                 style="width:200px;margin-left:20px;"
                 @if(session.containsKey("c6-target")){value='@session.get("c6-target")'}else{required}>
          <br>
          <input type="text" class="form-control"
                 name="c6-pathway"
                 placeholder="Pathway PMID"
                 aria-describedby="c6-pathway"
                 style="width:200px;margin-left:40px;"
                 @if(session.containsKey("c6-pathway")){value='@session.get("c6-pathway")'}else{required}>
          <br>
          <input type="text" class="form-control"
                 name="c6-cell"
                 placeholder="Cell Type or Tissue PMID"
                 aria-describedby="c6-cell"
                 style="width:200px;margin-left:60px;"
                 @if(session.containsKey("c6-cell")){value='@session.get("c6-cell")'}else{required}>

          <br>
            <input type="text" class="form-control"
                   name="c6-symptom"
                   placeholder="Symptom PMID"
                   aria-describedby="c6-symptom"
                   style="width:200px;margin-left:80px;margin-bottom:10px;"
                   @if(session.containsKey("c6-symptom")){value='@session.get("c6-symptom")'}else{required}>
            <br>
          <span class="label label-@if(part.stage>6){success}else{primary}"
                style="margin-left:100px">Asthma</span>
        </div>

        @if(part.stage == 6){
        <br><br>
        <input class="btn btn-@if(part.stage>6){success}else{primary}"
               type="submit" @if(part.stage>6){disabled}/>
        }
      </form>
    </div>
  </div>
</div>
}
