@import play.twirl.api.HtmlFormat
@import models.Participant

@(webjars: org.webjars.play.WebJarsUtil, part: Participant)

@main(webjars, "Congratulations!"){
@navbar(part, 8)
}{
@header(part, 8, "Congratulations!", "Challenge completed")
}{
@footer()
}{
<div class="section section-basic">
  <div class="section section-basic">
    <div class="container">
      Congratulations on completing the Challenge! You now have access to
      the full FOA. The next step is the submission of the 
      <strong>Concept Letter</strong> according to the instructions provided
      in the FOA. Good luck!
    </div>
  </div>
</div>
}
