@import models.Participant
@this(provider: javax.inject.Provider[controllers.ChallengeController])
@(part: Participant, stage: Int)

@defining(provider.get()){ app =>
  @stage match {
    case 1 => {
       @c1(app, part)
    }
    case 2 => {
       @c2(app, part)
    }
    case 3 => {
       @c3(app, part)
    }
    case 4 => {
       @c4(app, part)
    }
    case 5 => {
       @c5(app, part)
    }
    case 6 => {
       @c6(app, part)
    }
    case 7 => {
       @c7(app, part)
    }
    case 8 => {
       @c8(app, part)
    }
    case _ => {
    }
  }
}
