<footer class="footer">
  <div class="container">
    <nav class="pull-left">
      <a href="https://ncats.nih.gov">
	<img src='@routes.Assets.versioned("images/ncats-logo.png")'
	     alt="NCATS Logo" rel="tooltip"
	     data-placement="bottom" data-html="true">
      </a>
    </nav>
    <div class="copyright pull-right" style="margin-top:-10px;">
      National Center for Advancing Translational Sciences (NCATS)
      <br>6701 Democracy Boulevard, Bethesda MD 20892-4874 • 301-594-8966
    </div>
  </div>
</footer>
