@import models.Participant
@import controllers.ChallengeController
@(app: ChallengeController, part: Participant, stage: Int)
<nav class="navbar navbar-default navbar-fixed-top navbar-color-on-scroll">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-text" style="margin-left:5px;"><a class="navbar-link" href="@controllers.routes.ChallengeController.challenge(part.id.toString)">@part.name (<span id="rank-pct"></span> percentile)</a></span>

      <span class="navbar-text" style="margin-left:20px;">
        @if(stage<=part.stage){
          <a class="navbar-link" target="#foa"
             href="@controllers.routes.ChallengeController.foa(part.id.toString,stage)">FOA @if(stage<8){(part @stage)}else{(full)}</a>
        }
      </span>
      @if(app.app.faq != null){
      <span class="navbar-text"  style="margin-left:20px;">
        <a class="navbar-link" target="#foa" href="@app.app.faq">FAQ</a>
      </span>
      }
      <span id="concept-letter"
            class="navbar-text navbar-right" style="margin-left:20px;">
        <b>Concept Letter due <span id="due-date"></span></b>
      </span>
    </div>
  </div>
</nav>
<!-- End Navbar -->
