@(name: String)
<nav class="navbar navbar-transparent navbar-fixed-top
	    navbar-color-on-scroll">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
	      data-toggle="collapse" data-target="#navigation-index">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">Hi @name!</span> 
    </div>
    
    <div class="collapse navbar-collapse" id="navigation-index">
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
