@import play.twirl.api.HtmlFormat

@this(webjars: org.webjars.play.WebJarsUtil)

@main(webjars, "NCATS Translator Challenge")(HtmlFormat.empty){
<div class="wrapper">
  <div class="header header-filter"
       style="background-image: url('@routes.Assets.versioned("images/riskin-sbir.jpg")');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="brand" style="text-align:left; margin-top:10vh;">
            Thank you for your interest in the NCATS Translator challenge.
            In order to qualify for the challenge, we ask that you first solve
            the problem as described below. Please <code>POST</code> your
            answer along with contact information (i.e., email and name) to
            this address <code>https://ncats.io/challenge</code>. Note that
            you will only receive email confirmation from us if you have
            successfully solved the problem. You may submit your answer as
            often as you'd like; there is no limit in the number of
            submissions, but please keep in mind the delay in email response
            as you make your submissions. Best of luck!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}{
@footer()
}{
<div class="section section-basic">
  <div class="section section-basic">
    <div class="container">
      
    </div>
  </div>
</div>
}
