@import play.twirl.api.HtmlFormat
@this(webjars: org.webjars.play.WebJarsUtil)
@main(webjars, "The Challenge")(HtmlFormat.empty){
    <div class="container">
      <div class="row">
	<div class="col-md-12">
	    <h1>Turn back. This is an ill-fated voyage.</h1>
        <h3>404 Error: File not found</h3>
        <img alt="Detail of sailing ship in mouth of a sea monster, detail from Olaus Magnus' Carta Marina" height=250px src=@routes.Assets.versioned("images/404.png")>
	</div>
      </div>
    </div>
}(HtmlFormat.empty)(HtmlFormat.empty)
