@import play.twirl.api.HtmlFormat
@this(provider: javax.inject.Provider[controllers.ChallengeController])
@main(provider.get(), "The Challenge"){
<div class="wrapper">
  <div class="header header-filter"
       style="background-image: url('@routes.Assets.versioned("images/404.png")'); height:100vh;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="brand" style="margin-top:30vh;">
            <h1>Turn back. This is an ill-fated voyage.</h1>
            <h3>404 Error: File not found</h3>
          </div>
        </div>
      </div>
      <div style="position:fixed;bottom:20px;left:20px;background:ghostwhite;border-radius:0.5em;">
        <a href="https://ncats.nih.gov"><img width="211px" alt="NCATS logo. Background detail of sailing ship in mouth of a sea monster, detail from Olaus Magnus' Carta Marina" src=@routes.Assets.versioned("images/ncats-logo.png")></a>
      </div>
    </div>
  </div>
</div>
}(HtmlFormat.empty)(HtmlFormat.empty)
